* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* variable */
    --primary-color: #2d2d2d;
    --secondary-color: #f2f2f2;
    --header-bottom-padding: 1em;
    --primary-color-light: #c8c6c6;
    --alternate-color-blue: blue;
    font-family: 'Poppins', sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: var(--secondary-color);
}

html {
    height: 100%;
    min-width: 290px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}



.banner {
    background-color: var(--primary-color);
}

.container {
    width: 95%;
    margin: 0 auto;
    /* background-color: blue; */
}

.banner__text {
    width: 85%;
    color: var(--secondary-color);
    min-width: 253px;
    padding-top: 2em;
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    gap: 4px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}

.hamburger-line {
    width: 2rem;
    height: 0.25rem;
    background: var(--secondary-color);
    border-radius: 5px;
}

.banner__nav {
    flex-grow: 1;
    justify-self: flex-end;
    align-self: flex-end;
    padding-bottom: 5px;

}

.nav-menu {
    display: none;
}

main {
    flex: 1;
    display: grid;
    background-color: var(--primary-color-light);
    grid-template: .5fr 3fr .5fr/ 1fr 4fr 1fr;
}

.main-auth {
    grid-row: 1 /2;
    grid-column: 2 / 3;
    padding: 1.5em 0;
    max-width: 320px;
}

.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em 0;
}

.auth {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--secondary-color);
    padding: 1.5em 1em;
    min-width: 253px;
    border-radius: 8px;
    margin: 0 auto;
    gap: 1em;
}

.auth-header {
    color: var(--primary-color);

}

.auth-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auth-links li {
    min-width: 100px;
}

.auth-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: .6em 1.2em;
}

.password-req {
    color: var(--primary-color);
}

.password-req-good {
    color: #4A730D;
}

.password-req-bad {
    color: #FF0000;

}

.submit-btn-container {
    display: flex;
    justify-content: center;
    margin: 2.5em auto 0 auto;
    width: 100%;
}

.auth-header__title {
    color: var(--alternate-color-blue);
}

.auth-header__text {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.submit-btn {
    width: 100%;
    background-color: var(--alternate-color-blue);
    border: none;
    font-size: 1.2rem;
    padding: .5em 1em;
    cursor: pointer;
    border-radius: 2px;
    color: whitesmoke;
}

.submit-btn:hover {
    background-color: #0e0e9c;
}

.account-question {
    font-style: italic;
    text-decoration: underline;
    margin-top: .5em;
    cursor: pointer;
}

.account-question:hover {
    color: var(--alternate-color-blue);
}



@media screen and (min-width: 768px) {
    .container {
        width: 90%;
        max-width: 1200px;
    }

    .banner__text {

        width: 60%;
    }

    .banner__nav {
        width: 40%;
        margin-top: auto;
        margin-left: auto;
        max-width: 300px;
    }

    .hamburger-button {
        margin: 0 0 0 auto;
    }

    .nav-menu {
        display: flex;
        gap: 1rem;
        align-items: flex-end;
        color: var(--secondary-color);
    }

    main {
        grid-template: 1fr 4fr 1fr/ 1fr 4fr 1fr;
    }

    .main-auth {
        max-width: 320px;
    }

    .auth {
        min-width: 320px;
    }


}




.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.d-flex-column {
    display: flex;
    flex-direction: column;
}

.d-flex-column-space-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.center-margin-h {
    margin: 0 auto;
}